	#bg-pic{
		background-color: whitesmoke;
	}
	#div-padding{
		padding-top: 13%;
		padding-bottom: 13%;
	}
	#div-size{
		width: 350px;
		height: 300px;
		background-color: rgba(223, 243, 251, 0.6);
		margin: 0 auto;
	}